#searchproducts {
  width: 400px;
  font-size: 18px;
}

#my-custom-class {
  width: 10%; 
  max-width: 10px; 
  margin: 0 auto; 
}

.form-control.mb-4 {
  margin-bottom: 5rem;
}

#form-control.mb-4 {
  margin-bottom: 5rem;
}

.dropdown-item:hover {
  background-color: rgba(131, 91, 91, 0.404);
  color: rgb(0, 0, 0);
}


.dropdown-toggle:hover {
  background-color: rgba(131, 91, 91, 0.404);
  color: rgb(0, 0, 0);
}


