<div type="Desconto de Preço" class="product__Title-sc-vep9u6-7 dLyRPF">
    <div class="product__WrapperIcon-sc-vep9u6-6 kVqAES"></div>9% de desconto
</div>
<div class="product__WrapperProduct-sc-vep9u6-13 dqQGVe">
    <div class="product__WrapperImage-sc-vep9u6-12 gYyDVb">
        <div class="src__Wrapper-sc-xr9q25-1 ebFfaU">
            <picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy"
                    src="https://images-americanas.b2w.io/produtos/34639137/imagens/lola-cosmetics-morte-subita-intense-kit-3-produtos/34639137_1_medium.jpg"
                    alt="Lola Cosmetics Morte Súbita Intense Kit (3 Produtos)"
                    class="src__LazyImage-sc-xr9q25-0 eoRxRL"></picture>
        </div>
    </div><span class="src__Text-sc-154pg0p-0 product__ProductName-sc-vep9u6-11 djqOl">Lola Cosmetics Morte Súbita
        Intense Kit (3 Produtos)</span>
    <div class="product__WrapperStars-sc-vep9u6-4 hUDcMY">
        <div width="90" height="18" class="src__Wrapper-sc-sagiey-0 iOIQIZ">
            <div class="src__FilledStars-sc-sagiey-1 cpkQsv"><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#f2c832"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#f2c832"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#f2c832"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#f2c832"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#f2c832"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg></div>
            <div class="src__GrayStars-sc-sagiey-2 cSHDAZ"><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#ccc"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#ccc"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#ccc"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#ccc"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg><svg height="18" viewBox="0 0 50 50" width="18">
                    <polygon fill="#ccc"
                        points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 ">
                    </polygon>
                </svg></div>
        </div> (174)
    </div><del class="product__Del-sc-vep9u6-14 eKIfys">R$
        <!-- -->69,70</del>
    <div class="product__Price-sc-vep9u6-8 fKxMzl">R$ 63,42</div>
    <div class="product__Installment-sc-vep9u6-10 elOrdS">1x de R$ 63,42 sem juros no cartão </div>
</div>