

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Toggle button -->
        <button 
            class="navbar-toggler" 
            type="button" 
            data-mdb-toggle="collapse" 
            data-mdb-target="#navbarSupportedContent1" 
            aria-controls="navbarSupportedContent1" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-sm-0" href="{% url "core:store_home" %}">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="20" alt="MDB Logo" loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- Container wrapper -->
                <div class="container-fluid">
                  <!-- Toggle button -->
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarLeftAlignExample"
                    aria-controls="navbarLeftAlignExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="fas fa-bars"></i>
                  </button>
              
                  <!-- Collapsible wrapper -->
                  <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "core:store_home" %}">Home</a>
                      </li>

                      <!-- Navbar dropdown -->
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-mdb-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Categorias
                        </a>               


                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li>
                            <a class="dropdown-item" href="{% url "core:store_home" %}">Todas as categorias</a>
                          </li>
                          <li><hr class="dropdown-divider" /></li>
                          {% for c in categories %}
                          <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      
                      <!-- Navbar dropdown -->
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-mdb-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Marcas
                        </a>               


                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li>
                            <a class="dropdown-item" href="{% url "core:store_home" %}">Todas as categorias</a>
                          </li>
                          <li><hr class="dropdown-divider" /></li>
                          {% for c in brands %}
                          <li {% if brand.slug == c.slug %}class="selected" {% endif %}>
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.title }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      

                      <li class="nav-item">
                        <a class="nav-link disabled"
                          >Disabled</a
                        >
                      </li>
                    </ul>
                    <!-- Left links -->
                  </div>
                  <!-- Collapsible wrapper -->
                </div>
                <!-- Container wrapper -->
              </nav>
                <nav class="navbar navbar-light bg-light">
                  <div class="container-fluid">
                    <form class="d-flex input-group w-auto">
                      <input
                        type="search"
                        class="form-control rounded"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="search-addon"
                      />
                      <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                      </span>
                    </form>
                  </div>
                </nav>
            </ul>
            
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="nav-link me-4" href="{% comment %}
              {% url "basket:basket_summary" %}
            {% endcomment %}">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill badge-notification bg-danger">{{ total_qty }}</span>
            </a>
                  <!-- Icon dropdown -->
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="{% comment %}
              {% url "account:logout" %}
            {% endcomment %}">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    {% else %}
  
      <a class="nav-link waves-effect me-4" href="{% comment %}
        {% url "account:login" %}
      {% endcomment %}">
        <span class="clearfix d-none d-sm-inline-block"> Login </span>
      </a>
      <a class="nav-link waves-effect" href="{% comment %}
        {% url 'account_signup' %}
      {% endcomment %}">
        <span class="clearfix d-none d-sm-inline-block"> Signup </span>
      </a>

    {% endif %}
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>