
<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Seu carrinho</span>
    <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">  
    {% for order_item in order.items.all %}   
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h5 class="my-0">{{ order_item.quantity }} x {{ order_item.product.name|truncatechars:37 }}</h5>
    
        </div>
        <span class="text-muted">R$ {{ order_item.get_final_price }}</span>
    </li>
    {% endfor %}
    {% if order.coupon %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Cupom</h6>
        <small>{{ order.coupon.code }}</small>

        <small><a href="{% url 'core:del-coupon' %}" class="text-decoration-none">Remover cupom</a></small>
        </div>
        <span class="text-success">-R$ {{ order.coupon.amount }}</span>
        
    </li>
    
    {% endif %}
    <li class="list-group-item d-flex justify-content-between">
        <span>Total </span>
        <strong>R$ {{ order.get_total }}</strong>
    </li>
    </ul>

    {% if DISPLAY_COUPON_FORM %}
    <form class="card p-2" action="{% url 'core:add-coupon' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            {{ couponform.code }}
            <div class="input-group-append">
            <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Aplicar</button>
            </div>
        </div>
    </form>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'info' %}
        <div class="alert alert-danger">{{ message }}</div>
      {% elif message.tags == 'success' %}
        <div class="alert alert-success">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

  
<div class="my-4"> 


  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Frete</span>
    </h4>
  </div>
    <ul class="list-group mb-3 z-depth-1">  

    {% if shipping_cost %}
    
    
    <ul class="list-group">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="shipping_method"  id="pac" value="P" {% if shipping_type == "P" %} checked {% endif %}>
          <label class="form-check-label" for="pac">
            PAC
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="shipping_method"  id="sedex" value="S" {% if shipping_type == "S" %} checked {% endif %}>
          <label class="form-check-label" for="sedex">
            Sedex          
          </label>
        </div>
      </li>
    </ul>
    
    <li class="list-group-item d-flex justify-content-between lh-condensed ">
      
      <div>
      <h5 class="my-0">Tipo do Frete Selecionado:</h5>       
      </div>
      <span class="text-muted">{{ order.get_delivery_type_display }}</span>
  </li>


    <li class="list-group-item d-flex justify-content-between lh-condensed ">
      
        <div>
        <h5 class="my-0">Valor do frete:</h5>       
        </div>
        <span class="text-muted">R$ {{ shipping_cost.0 }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h5 class="my-0">Prazo de entrega de:</h5>       
        </div>
        <span class="text-muted">{{ shipping_cost.1 }} dias</span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
      <h5 class="my-0">Valor Total dos produtos com o Frete:</h5>       
      </div>
      <span class="text-muted">R$ {{ order.get_total_frete }}</span>
  </li>
    {% else %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
      <h5 class="my-0">Adicione o endereço para calcular o frete</h5>       
      </div>

    {% endif %}

</div>

<script>
  $(document).ready(function() {
    // Adiciona um evento de escuta para a mudança de valor do radio
    $('input[type="radio"][name="shipping_method"]').change(function() {
      // Pega a posição atual do usuário
      var scrollPosition = $(window).scrollTop();
      // Pega o valor do radio selecionado
      var shipping_method = $(this).val();
      // Faz uma solicitação AJAX para a view do Django
      $.ajax({
        url: "{% url 'core:delivery_address' %}",
        type: "POST",
        data: {
          'shipping_method': shipping_method,
          'csrfmiddlewaretoken': "{{ csrf_token }}"
        },
        success: function(response) {
          // Atualiza a página com os novos dados
          $('#result-container').html(response);
          // Restaura a posição atual do usuário após a atualização da página
          $(window).scrollTop(scrollPosition);
          location.reload();
        },
        error: function(xhr, status, error) {
          // Trata erros de solicitação
          console.log(xhr.responseText);
        }
      });
    });
  });
</script>